<%= simple_form_for([@discussion, @discussion.replies.build], remote: true) do |f| %>

<div class="field">
  <div class="control">
    <%= f.input :reply, required: false, input_html: { class: 'textarea input input__field' }, wrapper: false, label_html: { class: 'label' } %>
  </div>
</div>

<%= f.button :submit, 'Comment', class:'button primary-btn short mt10' %>

<% end %>
