<section class="splash">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">

 <div class="login-logo">
        <%= image_tag("letstalk-logo.png", :alt => "lets talk logo") %>
      </div>
        <h2 class="title is-2">Hey there stranger</h2>

      <h2 class="title is-2">How are you feeling today?</h2>



      </div>
    </div>
  </div>
</section>
