<div class="columns">
      <div class="content-wrap">
        <div class="column is-6 home-half">
           <div class="login-logo">
        <%= image_tag("open-feelings-04.png", :alt => "rss feed") %>
       </div>
      </div>
        <div class="column is-6 home-half">
         <p class="home-story">Let’s talk is a safe space where men are able to openly discuss their feelings and empower others to do the same and eventually destroying the ‘feminine’ connotation about opening up about their feelings. </p>
        </div>
     </div>
  </div>
  <div class="columns">
<div class="column is-6 home-half">
           <div class="login-logo">
        <%= image_tag("letstalk-logo.png", :alt => "rss feed") %>
      </div>
</div>
 <div class="column is-6 home-half">
<p class="home-story">We get it, talking about it with anyone can be scary and hard. Men tend to bottle things up and avoid talking about the issue. It’s the silent crisis. You’ve been told all your life that you just need to “harden up” or “man up”.</p>
</div>
  </div>
    <div class="columns">
      <div class="column is-6 home-half">
<p class="home-story">Actively seeking help can seem to go against cultural expectations as it’s “not manly to have feelings”. Majority of men are taught this from a very early age, that it’s not manly to cry and you have to toughen up and crack on. </p>
</div>
<div class="column is-6 home-half">
           <div class="login-logo">
        <%= image_tag("letstalk-logo.png", :alt => "rss feed") %>
      </div>
</div>

  </div>

      <div class="columns">
<div class="column is-6 home-half">
           <div class="login-logo">
        <%= image_tag("letstalk-logo.png", :alt => "rss feed") %>
      </div>
</div>
      <div class="column is-6 home-half">
<p class="home-story">We cannot stress enough how important it is to speak up and fight stigma. The aim of let’s talk is, as more men speak out about their struggles and experiences with mental health, other men will not feel as alone. Continuing to spread this awareness and normalise the fact that it can be hard to manage everyday demands will. You are not alone.</p>
</div>
