/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";
@import "functions";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  color: #286fbf;
  font-weight: 700;
}

.main-nav {
  background: white;
  border-bottom: 2px solid #f5f5f5;
}

.logo-img {
  padding: 1rem;
}

.image {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.textarea {
  height: 250px;
  font-family: Monaco, san-serif;
  font-size: .9rem;
  padding: 1rem;
}

.discussion-title {
  margin-bottom: 0;
}

.button {
  font-size: 0.825rem;
}

.discussion-btn {
  border-radius: 55px !important;
  background: #1FA2FF;
  border: none;
  color: white;
}

.discussion-btn:hover {
  background: blue;
  transition: 0.2s;
  color: white;
}

.posted-ago p
{
  font-size: 0.9rem;
  color: #7e7e7e;
  font-weight: 300;
}

.register-btn, .login-btn {
  border: none;
  font-size: 0.825rem;
  color: #555;
  display: flex;
  padding-top: 0.425rem;
  padding-top: rem;
}

.register-btn:hover, .login-btn:hover {
  border-bottom: 2px solid blue;
}

.channel-btn {
  margin-bottom: 1rem;
  border-radius: 55px;
}

.field {
  .material-icons {
    padding-right: 1rem;
    padding-top: 0.25rem;
  }
}

.discussion-container {
  border: 1px solid #d4d4d4;
  border-radius: 25px;
  padding: 1rem;
  margin-bottom: 2rem !important;
}

.disucssion-content p{
  color: green;
  font-size: 0.825rem;
}

.login-container {
  display: inline-flex;
  max-width: 100%;
  width: 100%;
  .login-img {
    padding: 0;
  }
  .login-form {
    margin: 2rem;
  }
}

.primary-btn {
  border: none;
  font-size: 0.825rem;
  color: #555;
  display: flex;
  padding-top: 0.425rem;
  padding-top: rem;
}

.control label .boolean {
  margin-right: 0.5rem;
  display: inline-flex;
}


