// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-title {
  font-size: 3rem;
  line-height: 3.75rem !important;
  margin-top: 8rem;
}

.header-subtitle {
  font-weight: 400 !important;
  line-height: 2rem !important;

}

.title-accent-blue {
  color: #1FA2FF;
}

.splash-header-img img {
  max-width: 70%;
}

.cta-btn {
  padding: 1.5rem 3rem !important;
  font-size: 1rem !important;
}

.home-story {
  font-size: 1.125rem;
  line-height: 3rem;
}

.home-half {
  display: flex !important;
  align-items: center !important;
}
